/*
Change card display on mobile
*/
@media only screen and (max-width: 576px) {
  .card.resource-card .card-meat {
    display: inline-flex;
    max-height: 10rem;
    overflow: auto;
  }
  .card.resource-card .card-meat .card-img-container {
    width: 35%;
    border-bottom: none;
  }
  .card.resource-card .card-meat img.card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card.resource-card .card-meat .card-body {
    width: 65%;
  }
  .card.resource-card .card-meat .card-body p {
    font-size: 0.8rem;
  }

  /*
  TO-DO: Change menus on mobile to show current page/section or whatever
  */
  #topNav ul li.nav-item a {
    font-size: 1rem;
  }
}
body {
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: white;
}

h3.section-title {
  color: white;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  text-align: center;
  text-decoration-color: #e8d82a;
  text-transform: uppercase;
}

#pageTitle {
  border-bottom: solid white;
  font-weight: bold;
  text-align: center;
  transition: 0.25s;
  margin: 0;
}
#pageTitle a {
  color: white;
  text-decoration: none;
}

#topNav {
  padding: 0;
  border-bottom: double white;
  margin-bottom: 0.5rem;
  text-align: center;
}
#topNav ul {
  margin: auto;
}
#topNav ul .nav-item {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: white;
  transition: 0.25s;
}
#topNav ul .nav-item a {
  color: inherit;
  font-size: 1.25rem;
}
#topNav ul .nav-item:hover {
  color: #e8d82a;
}
#topNav ul .nav-item.active a {
  text-decoration: underline #e8d82a;
}
#topNav button.navbar-toggler {
  margin: auto;
  background: none;
  border: none;
}

#sideNav {
  max-width: 15%;
}
#sideNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sideNav ul a {
  text-decoration: none;
}
#sideNav ul li {
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background: #e8d82a;
  color: white;
  text-transform: uppercase;
  transition: 0.25s;
}
#sideNav ul li:hover {
  background: white;
  color: #e8d82a;
  transform: translateX(1rem);
}

#mainContainer {
  color: white;
}
#mainContainer.text-content p {
  font-size: large;
}
#mainContainer.text-content p a {
  color: #e8d82a;
  text-decoration: underline;
  transition: 0.25s;
}
#mainContainer.text-content p a:hover {
  text-decoration: none;
  opacity: 0.75;
}

/*
Resource category page styles
*/
h2#categoryTitle {
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid thin #e8d82a;
  margin: 0;
}

a.card-link {
  text-decoration: none;
}

.card.resource-card {
  color: black;
}
.card.resource-card p {
  font-size: 1rem;
  margin: 0;
  padding: 0 0.25rem;
}
.card.resource-card .card-meat {
  max-height: 32rem;
  overflow: hidden;
}
.card.resource-card .card-img-container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card.resource-card .card-img-container img {
  margin: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card.resource-card .card-title.resource-name {
  color: black;
  text-align: center;
  border-bottom: solid thin;
  margin-bottom: 0.25rem;
}
.card.resource-card .card-body {
  padding: 0;
}
.card.resource-card .card-footer {
  padding: 0.25rem;
}
.card.resource-card .card-footer .tags {
  font-size: 60%;
}

.section-container {
  margin-top: 1rem;
}

#sectionNavBtn {
  position: fixed;
  z-index: 1;
  background: #e8d82a;
}

/*# sourceMappingURL=style.css.map */
