/*
Change card display on mobile
*/
@media only screen and (max-width: 576px) {
  .card.resource-card .card-meat {
    display: inline-flex;
  }
  .card.resource-card .card-meat .card-img-container {
    width: 35%;
    border-bottom: none;
  }
  .card.resource-card .card-meat img.card-img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .card.resource-card .card-meat .card-body {
    width: 65%;
  }
  .card.resource-card .card-meat .card-body p {
    font-size: 0.8rem;
  }

  #pageTitle {
    font-size: 1.75rem;
  }

  /*
  TO-DO: Change menus on mobile to show current page/section or whatever
  */
  #topNav ul li.nav-item a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  #sideNav ul li:hover {
    background: white;
    color: #e8d82a;
  }
  #sideNav #toggleSideNavBtn:hover {
    background: white;
    color: #e8d82a;
  }
}
body {
  background-color: black;
  color: white;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: white;
}

h4.section-title {
  color: white;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
  text-align: center;
  text-decoration-color: #e8d82a;
  text-transform: uppercase;
}

#pageTitle {
  border-bottom: solid white;
  font-weight: bold;
  text-align: center;
  transition: 0.25s;
  margin: 0;
}
#pageTitle a {
  color: white;
  text-decoration: none;
}

#topNav {
  padding: 0;
  border-bottom: double white;
  margin-bottom: 0.5rem;
  text-align: center;
}
#topNav ul {
  margin: auto;
}
#topNav ul .nav-item {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: white;
  transition: 0.25s;
  cursor: pointer;
}
#topNav ul .nav-item a {
  color: inherit;
}
#topNav ul .nav-item:hover {
  color: #e8d82a;
}
#topNav ul .nav-item.active a {
  text-decoration: underline #e8d82a;
}
#topNav button.navbar-toggler {
  margin: auto;
  background: none;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: underline #e8d82a;
}

#sideNav {
  position: fixed;
  z-index: 1;
  left: 0;
}
#sideNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sideNav ul a {
  text-decoration: none;
  color: inherit;
}
#sideNav ul li {
  font-size: 0.8rem;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background: #e8d82a;
  color: white;
  text-transform: uppercase;
  transition: 0.25s;
}
#sideNav ul li:first-of-type {
  background: none;
  text-align: right;
  padding: 0;
  margin: 0;
}
#sideNav ul li:first-of-type [data-mode=hide] i[data-dir=right] {
  display: none;
}
#sideNav ul li:first-of-type [data-mode=hide] i[data-dir=left] {
  display: initial;
}
#sideNav ul li:first-of-type [data-mode=show] i[data-dir=left] {
  display: initial;
}
#sideNav ul li:first-of-type [data-mode=show] i[data-dir=right] {
  display: none;
}
#sideNav #toggleSideNavBtn {
  border: none;
  background: #e8d82a;
  color: white;
}
#sideNav #backToTop {
  cursor: pointer;
}

#mainContainer {
  color: white;
}
#mainContainer.single-resource a {
  color: #e8d82a;
}
#mainContainer a {
  color: inherit;
  transition: 0.25s;
}
#mainContainer a:hover {
  text-decoration: underline;
}
#mainContainer.text-content p {
  font-size: large;
}
#mainContainer.text-content p a {
  color: #e8d82a;
  text-decoration: underline;
  transition: 0.25s;
}
#mainContainer.text-content p a:hover {
  text-decoration: none;
  opacity: 0.75;
}

#contactModal button[data-dismiss=modal] {
  background: none;
}

a[data-toggle=modal][data-target="#contactModal"] {
  cursor: pointer;
}

/*
Resource category page styles
*/
.page-tips a {
  color: #e8d82a;
  transition: 0.25s;
}
.page-tips a:hover {
  text-decoration: underline;
}
.page-tips i {
  color: #e8d82a;
}

h2#categoryTitle {
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid thin #e8d82a;
  margin: 0;
}

a.card-link {
  text-decoration: none;
}

.card.resource-card {
  color: black;
}
.card.resource-card a.card-link {
  transition: 0.25s;
  color: inherit;
}
.card.resource-card a.card-link:hover {
  color: #e8d82a;
}
.card.resource-card p {
  font-size: 1rem;
  margin: 0;
  padding: 0 0.25rem;
}
.card.resource-card .card-img-container {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card.resource-card .card-img-container img {
  margin: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.card.resource-card .card-img-container .overlay.trigger-warning {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem 0.25rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.card.resource-card .card-title.resource-name {
  color: black;
  text-align: center;
  border-bottom: solid thin;
  margin-bottom: 0.25rem;
}
.card.resource-card .card-title.resource-name a {
  color: black;
  transition: 0.25s;
}
.card.resource-card .card-title.resource-name a:hover {
  color: #e8d82a;
  text-decoration: underline;
}
.card.resource-card .card-title.resource-name i {
  font-size: medium;
}
.card.resource-card .card-body {
  padding: 0;
}
.card.resource-card .card-body .actual-text a {
  color: #e8d82a;
  transition: 0.25s;
}
.card.resource-card .card-body .actual-text a:hover {
  text-decoration: underline;
}
.card.resource-card .card-footer {
  padding: 0.25rem;
}
.card.resource-card .card-footer .tags {
  font-size: 60%;
}
.card.resource-card .full-container {
  overflow: hidden;
  padding-bottom: 1.5rem;
  position: relative;
}
.card.resource-card .card-text-container {
  overflow: hidden;
}
.card.resource-card .toggle-full-content {
  color: #6c757d;
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  border: none;
  background: #020024;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 35%, white 100%);
}
.card.resource-card .toggle-full-content a.toggle-link {
  cursor: pointer;
}
.card.resource-card .toggle-full-content a.toggle-link:hover {
  opacity: 0.7;
}

#sectionNavBtn {
  position: fixed;
  z-index: 1;
  background: #e8d82a;
}

/* Single resource page styles */
.resource-post-title {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline #e8d82a;
}

.author-source {
  text-align: center;
}

h4.resource-subheading {
  background: #e8d82a;
  padding: 0.25rem;
}

ul.book-list {
  list-style: none;
  padding: 0;
}
ul.book-list li {
  border-bottom: solid thin white;
}
ul.book-list li a {
  color: white;
  transition: 0.25s;
}
ul.book-list li a:hover {
  color: #e8d82a;
}
ul.book-list li a:last-of-type {
  font-size: large;
  text-decoration: underline;
}
ul.book-list li img {
  width: 6rem;
  height: auto;
  margin-right: 1rem;
}

#graphicCarousel .carousel-inner {
  text-align: center;
}
#graphicCarousel .carousel-inner img {
  max-height: 40rem;
  width: auto;
}
#graphicCarousel .carousel-indicators {
  position: initial;
}

/*# sourceMappingURL=style.css.map */
